<ul>
    <li><img src="img/ibuy-logo-4dark-bg.png"></li>
    <li class='home icon-go icon-right-side'>
        <a href="#/" ng-click='closeMenu()'>Home</a>
    </li>
    <li class='offers icon-go icon-right-side'>
        <a href="#ofertas" ng-click='closeMenu()'> Ofertas </a>
    </li>
    <li class='products icon-go icon-right-side'>
        <a href="#produtos" ng-click='closeMenu()'> Produtos </a>
    </li>
    <li class='favorites icon-go icon-right-side'>
        <a href="#favoritos" ng-click='closeMenu()'> Favoritos </a>
    </li>
    <li class='cart icon-go icon-right-side'>
        <a href="#carrinho" ng-click='closeMenu()'> Carrinho </a>
    </li>
    <li class='config icon-go icon-right-side'>
        <a href="#configuracoes" ng-click='closeMenu()'> Configurações </a>
    </li>
</ul>