<!-- Contact.html -->
<div class='Products'>
    <header class='products'> 
        <h2>{{page.name}}</h2>
        <a class="btn btn-menu menu-left" ng-click='openMenu()'></a>
        <a class="btn btn-cart menu-right-right" href='#carrinho'></a>
        <a class="btn btn-back menu-right" ng-click='$back()'></a>
    </header>
    <div style='height: {{page.middleSize}}' class='content'> 
    <div id='search-engine'>
        <input ng-model="searchiten.name" placeholder='Procurar produtos...'>
        <span class='lupa'></span>
    </div>
    <ul class='tableview-images productList'>
        <li ng-repeat='iten in Store | filter:searchiten:strict as results' ng-include='"pages/shopcell.html"'> </li>
        <!-- <li ng-if="results.length == 0" ng-repeat='iten in Store' ng-include='"pages/shopcell.html"'> </li> -->
    </ul>
</div>
</div>
<div id="blackOver" ng-click='closeMenu()'></div>
